
#levus-swipe-slider{
    position: relative;
    overflow: hidden;
}

#slides{
    min-height: 540px;
    display: grid;
    grid-template-columns: repeat(20,100%);
    position: relative;
}

#slides .slide{
    height: 100%;
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    user-select: none;
}

/* nav */
#slide-left,
#slide-right{
    position: absolute;
    top: calc(50% - 20px); 
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* todo: add z-index */
    opacity: .5;
    transition: .5s;
}

#slide-left{
    left: 20px;
    transform: translateX(-60px);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342A5F5' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

#slide-right{
    right: 20px;
    transform: translateX(60px);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342A5F5' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

/* show arrows */
#levus-swipe-slider:hover #slide-left{
    transform: translateX(0);
}

#levus-swipe-slider:hover #slide-right{
    transform: translateX(0);
}

/* move left */
.to-left {
    transform: translateX(100%);
}

/* move right */
.to-right {
    transform: translateX(-100%);
}

/* small buttons */
#levus-nav{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

#levus-nav span{
    width: 20px;
    height: 20px;
    background: var(--cyan);
    border-radius: 10px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

#levus-nav span.active{
    background: var(--cyan-dark);
}
