
/* нижня смуга */
#nav{
    display: flex;
    align-items: center;
    background: var(--gray-light);
    height: 70px;

    z-index: 2;
    overflow: hidden;

    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
}

#nav::after,
#nav::before{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 7px;
    display: block;
}

#nav::after{
    bottom: 0;
    background: linear-gradient(0deg, rgb(219, 219, 219) 0%, rgba(219,219,219,0) 100%);
}

#nav::before{
    top: 0;
    background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(219,219,219,0) 100%);
}

@media(max-width:776px) {
    #nav::after,
    #nav::before{
        display: none;
    }
}

#nav .wrap{
    display: flex;
    justify-content: center;
}

#top-menu{
    display: block;
    text-align: center;
}

#top-menu li{
    display: inline-block;
    margin: 0 6px;
}

#top-menu li a{
    color: var(--gray-dark);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    font-size: 16px;
}

#top-menu li a:hover{
    color: var(--cyan);
}

/* current */
#top-menu li.active a{
    color: var(--cyan);
}

#top-menu li svg{
    width: 18px;
    height: 18px;
    fill: none;
    stroke: var(--purpur);
    stroke-width: 3; 
    stroke-linecap: round;
    stroke-linejoin: round;
    margin: 0 0 0 10px;
}

/* mobile menu */
@media(max-width: 996px) {    
    #nav{
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 9;
        height: calc(100vh - 10px);
        /* width: 100vw; */
        width: 330px;
        /* padding: 10px 10px 70px; */
        
        transform: translateX(-100vw);
        transition: .5s;
    }

    #nav .wrap{
        display: block;
    }

    #top-menu{
        text-align: left;
    }

    #nav.open{
        overflow-y: scroll;
        transform: translateX(0);
    }

    #top-menu{
        margin: 20px 0 0;
        padding: 20px 0 0;
        border-top: 1px solid var(--gray);
    }

    #top-menu li{
        /* display: block; */
        margin: 0 17px;
    }

    #top-menu li a{
        padding: 10px 0!important;
        text-transform: none;
        font-weight: normal;
        font-size: 14px;

        display: flex!important;
        align-items: center;
        justify-content: flex-start!important;
    }

    #top-menu a::before{
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        
        /* temp (must be add icon!)*/
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z'/%3E%3C/svg%3E");
    } 

    #top-menu .icon-home::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z'/%3E%3C/svg%3E");
    }

}

@media(max-width: 450px){
    #nav{
        top: 55px;
        width: 100%;
    }
}