

/* модальне вікно */
.approuve{
    display: none;

    position: fixed;
    top: 0;
    left: calc(50% - 150px);
    z-index: 10;

    width: 300px;
    min-height: 120px;
    background: var(--black);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.approuve.active{
    display: block;
}

.approuve p{
    margin: 20px 0;
}

.approuve b{
    color: var(--gold);
}

.approuve strong{
    display: block;
    font-size: 26px;
    flex: 0 1 100%;
    color: var(--gold);
}

.approuve input[type="password"]{
    width: 100%;
    margin: 0;
    padding: 10px;
    background: var(--black);
    color: var(--white);
    outline: none;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
}

.approuve ::placeholder{
    color: var(--white)
}

.approuve button{
    pointer-events: none;
    background: var(--gray-light);
    color: var(--black);
    margin-top: 10px;
}

.approuve button.active{
    pointer-events: auto;
    background: var(--green);
    color: var(--white);
}

.approuve hr{
    border-top: 1px solid var(--white);
}

.approuve p{
    flex-wrap: wrap;
    justify-content: center;
}

#modal button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: var(--white);
    pointer-events: all;
}

#modal button.loading::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.551 28.551' fill='%23ffffff'%3E%3Cg%3E%3Cpath d='M12.768,3.674v-2.17C12.768,0.676,13.443,0,14.273,0l0,0c0.83,0,1.505,0.676,1.505,1.504l0,0v2.17 c0,0.83-0.675,1.508-1.505,1.508l0,0C13.443,5.182,12.768,4.504,12.768,3.674L12.768,3.674z'/%3E%3Cpath d='M12.768,27.041v-2.168c0-0.828,0.675-1.506,1.505-1.506l0,0c0.83,0,1.505,0.678,1.505,1.506l0,0v2.168 c0,0.832-0.675,1.51-1.505,1.51l0,0C13.443,28.551,12.768,27.873,12.768,27.041L12.768,27.041z'/%3E%3Cpath d='M20.704,7.844c-0.585-0.588-0.585-1.545,0-2.129l0,0l1.534-1.533c0.589-0.59,1.542-0.59,2.13,0l0,0 c0.59,0.59,0.59,1.539,0,2.125l0,0l-1.534,1.537c-0.294,0.291-0.68,0.439-1.064,0.439l0,0C21.384,8.283,21,8.135,20.704,7.844 L20.704,7.844z'/%3E%3Cpath d='M4.179,24.367c-0.585-0.586-0.585-1.541,0-2.131l0,0l1.535-1.533c0.592-0.586,1.541-0.586,2.131,0l0,0 c0.586,0.592,0.586,1.541,0,2.131l0,0l-1.536,1.533c-0.292,0.293-0.68,0.439-1.065,0.439l0,0 C4.859,24.807,4.472,24.66,4.179,24.367L4.179,24.367z'/%3E%3Cpath d='M24.875,15.777c-0.832,0-1.506-0.674-1.506-1.504l0,0c0-0.832,0.674-1.506,1.506-1.506l0,0h2.169 c0.83,0,1.507,0.678,1.507,1.506l0,0c0,0.83-0.677,1.504-1.507,1.504l0,0H24.875L24.875,15.777z'/%3E%3Cpath d='M1.505,15.777C0.674,15.777,0,15.104,0,14.273l0,0c0-0.832,0.674-1.506,1.505-1.506l0,0h2.169 c0.83,0,1.505,0.678,1.505,1.506l0,0c0,0.83-0.675,1.504-1.505,1.504l0,0H1.505L1.505,15.777z'/%3E%3Cpath d='M22.238,24.367l-1.534-1.537c-0.585-0.586-0.585-1.535,0.003-2.127l0,0c0.587-0.586,1.539-0.586,2.127,0l0,0l1.534,1.533 c0.586,0.59,0.586,1.545,0,2.131l0,0c-0.296,0.293-0.681,0.439-1.065,0.439l0,0C22.919,24.807,22.533,24.66,22.238,24.367 L22.238,24.367z'/%3E%3Cpath d='M5.714,7.844L4.179,6.307c-0.585-0.586-0.585-1.539,0-2.125l0,0c0.589-0.59,1.542-0.59,2.13,0l0,0l1.536,1.533 c0.586,0.584,0.586,1.541,0,2.129l0,0C7.549,8.135,7.165,8.283,6.78,8.283l0,0C6.394,8.283,6.009,8.135,5.714,7.844L5.714,7.844z'/%3E%3C/g%3E%3C/svg%3E");
    animation: rotate infinite 2s linear;
}

@keyframes rotate {
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(180deg)
    }
}

/* підкладка під модальне вікно*/
#modal-wrapper{
    background: rgba(0,0,0, .7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

#modal-wrapper::before{
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    cursor: pointer;
}

body.modal-hidden{
    overflow: hidden;
    padding-right: 7px;
    width: calc(100% - 7px)
}
