


/* кнопка редагування справа */
.edit{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234a9ad5'%3E%3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 20px 20px;
    cursor: pointer;
}

.edit.editable{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%234a9ad5' stroke-width='1.5' d='M16,16 L4,4'%3E%3C/path%3E%3Cpath stroke='%234a9ad5' stroke-width='1.5' d='M16,4 L4,16'%3E%3C/path%3E%3C/svg%3E");
}




/* кнопка розгортання */
.collapse{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234a9ad5'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 20px 20px;

    cursor: pointer;
    transition: background .5s;
}

.collapse.collapsed{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234a9ad5'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}




/* натискання на кнопку відкриває приховану область */
.hidden-area{
    display: none;
}

.hidden-area.show{
    display: block!important;
}

/* неактивний блок */
.disabled-area{
    pointer-events: none;
}

.icon-link{
    fill: var(--blue);
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: auto;
}

a.icon-link svg{
    fill: var(--blue);
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: auto;
}

.icon-link input{
    width: 22px;
    height: 22px;
    cursor: pointer;
}