/* *,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

:root{
    --blue: #4a9ad5;
    --blue-light: #ecf3f9; /* для календаря і поле редагування */

    --text: #8a8887;
    --yellow: #ffffe3;
    --gold: #ffd700;
    --yellow-light: #ffffde;
    /* --blue-light: #d4ecff; */
}

body{
    color: var(--black);
    /* line-height: normal; */
}

/* основний блок кабінету */
#cabinet{
    font-size: 14px;
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media(max-width: 1180px){
    #cabinet{
        width: 95%;
    }
}

@media(max-width: 996px){
    #cabinet{
        grid-template-columns: 1fr;
    }
}

hr{
    border: none;
    border-top: 1px solid var(--gray);
    height: 0;
    margin: 10px 0;
} 

/* colors */
.green{
    color: var(--green);
}

.red{
    color: var(--red);
}