
/* табличні дані */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.history-pay tr {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(2,1fr) 2fr;
}

.history-pay th,
.history-pay td {
    padding: 5px 10px;
}

/* 3 i 4 колонка */
.history-pay th:nth-child(3),
.history-pay td:nth-child(3),
.history-pay th:nth-child(4),
.history-pay td:nth-child(4) {
    text-align: center
}



.history-pay th {
    font-size: 14px;
    color: var(--gray);
    font-weight: normal;
}

/* заголовки */
.history-pay thead tr{
    border: none;
}

.history-pay thead th{
    text-align: left;
    padding: 5px 5px 10px;
}

.history-pay tbody tr {
    border-top: 1px solid var(--gray-light);
}

tbody tr:first-child {
    border-top: none;
}

.history-pay .plus{
    color: var(--green);
}

.history-pay .minus{
    color: var(--red);
}

/* дата на всю ширину */
.table-date{
    text-align: left;
    background: var(--gray-light);
    border: none;
}

@media (max-width: 996px){
    .table-date{
        text-align: center;
    }   
}

.table-date th{
    color: var(--black);
}

@media (max-width: 996px) {
    .history-pay {
        border: 0;
    }

    .history-pay thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .history-pay tr {
        display: block;
    }

    .history-pay td {
        display: flex;
        justify-content: space-between;
    }

    .history-pay td::before {
        content: attr(data-label);
        color: var(--gray);
    }

    .history-pay td:last-child {
        border-bottom: 0;
    }
}

/* історія з'єднань */
.history-connect tr {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}

/* заголовки */
.history-connect thead tr{
    border: none;
}

.history-connect thead th{
    padding: 5px 0 15px;
    color: var(--gray);
    font-weight: normal;
}

.history-connect tbody tr{
    border-top: 1px solid var(--gray-light);
}

.history-connect tbody tr:first-child{
    border-top: none;
}

.history-connect tbody td{
    padding: 5px 0;
}

@media (max-width: 996px) {

    .history-connect thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .history-connect tr {
        display: block;
    }

    .history-connect td {
        display: flex;
        justify-content: space-between;
    }

    .history-connect td::before {
        content: attr(data-label);
        color: var(--gray);
    }

    .history-connect tbody tr{
        border: none;
        margin: 0 0 20px;
    }

    .history-connect tbody td{
        border-top: 1px solid var(--gray-light);
    }

    .history-connect tbody td:first-child{
        border-top: none;
    }

}

/* бонуси від друзів */
.history-friend tr{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.history-friend thead tr{
    border: none;
}

.history-friend thead th{
    padding: 5px 0 15px;
    color: var(--gray);
    font-weight: normal;
    text-align: left;
}

.history-friend tbody tr{
    border-top: 1px solid var(--gray-light);
}

.history-friend tbody tr:first-child{
    border-top: none;
}

.history-friend tbody td{
    padding: 5px 0;
}

@media (max-width: 996px) {

    .history-friend thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .history-friend tr {
        display: block;
    }

    .history-friend td {
        display: flex;
        justify-content: space-between;
    }

    .history-friend td::before {
        content: attr(data-label);
        color: var(--gray);
    }

    .history-friend tbody tr{
        border: none;
        margin: 0 0 20px;
    }

    .history-friend tbody td{
        border-top: 1px solid var(--gray-light);
    }

    .history-friend tbody td:first-child{
        border-top: none;
    }

}